@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --background-color: #111;
  --primary-color: #eee;
  --accent-color: rgba(21, 191, 255, 1);
  --secondary-color: rgba(255, 18, 156, 1);
}

html {
  font-family: "Fira Code", monospace;
  background: var(--background-color);
  color: var(--primary-color);
  font-size: 16px;
}

main {
  /* max-width: 960px; */
  margin: 0 15px;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

a:not(.terminal-link) {
  color: var(--secondary-color);
  text-decoration: dotted underline;
}

a:hover {
  text-decoration: none;
}

a:active:not(.terminal-link) {
  color: var(--accent-color);
}

b,
strong {
  color: var(--accent-color);
}

i,
em {
  color: var(--accent-color);
}

section {
  margin-bottom: 25px;
}

section ul {
  padding-left: 20px;
}

section h1 {
  font-size: 2em;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  padding-right: 1em;
}

/* Terminal settings */
a.terminal-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.terminal-username {
  color: var(--accent-color);
}

.terminal-hostname {
  color: var(--secondary-color);
}
