@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --background-color: #111;
  --primary-color: #eee;
  --accent-color: rgba(21, 191, 255, 1);
  --secondary-color: rgba(255, 18, 156, 1);
}

html {
  font-family: "Fira Code", monospace;
  background: var(--background-color);
  color: var(--primary-color);
  font-size: 16px;
}

main {
  margin: 15px;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

a {
  color: var(--secondary-color);
  text-decoration: dotted underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: var(--accent-color);
}

b,
strong {
  color: var(--accent-color);
}

i,
em {
  color: var(--accent-color);
}

section {
  margin-bottom: 25px;
}

section ul {
  padding-left: 20px;
}

section h1 {
  font-size: 2em;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  padding-right: 1em;
  flex: 1 0 33%;
}

/* Terminal settings */
a.prompt-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.prompt-username {
  color: var(--accent-color);
}

.prompt-hostname {
  color: var(--secondary-color);
}

.prompt-input:focus {
  outline: none;
}

.mastodon-verify {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.rainbow-text {
  background: linear-gradient(
    90deg,
    #f00,
    #ff2b00,
    #f50,
    #ff8000,
    #fa0,
    #ffd500,
    #ff0,
    #d4ff00,
    #af0,
    #80ff00,
    #5f0,
    #2bff00,
    #0f0,
    #00ff2b,
    #0f5,
    #00ff80,
    #0fa,
    #00ffd5,
    #0ff,
    #00d4ff,
    #0af,
    #007fff,
    #05f,
    #002bff,
    #00f,
    #2a00ff,
    #50f,
    #7f00ff,
    #a0f,
    #d400ff,
    #f0f,
    #ff00d4,
    #f0a,
    #ff0080,
    #f05,
    #ff002b,
    #f00
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
  font-weight: bold;
}
